<h2> Cart: </h2>

<a routerLink='/shipping'> Shipping prices </a>

<ol>
	<li *ngFor="let p of items"> {{p.name}}, {{p.description}}, {{p.price | currency}} </li>

</ol>
<p *ngIf="items.length > 0">
	Total price: {{total | currency}}
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

<div>
		<label for="name">Name</label>
		<input id="name" type="text" formControlName="name">
</div>

<div>
		<label for="address">Address </label>
		<input id="address" type="text" formControlName="address">
</div>

<button class="button" type="submit">Purchase</button>

</form>