<h2>Products</h2>

<div *ngFor="let prod of products; index as id">
	<h3>
		<a [title]="prod.name + ' details'" 
        [routerLink]="['/products',id]">{{prod.name}}
		</a>
	</h3>

	<h5>
		<div *ngIf="prod.description.length > 5"> Description: {{prod.description}} </div>
  </h5>
		<button (click)="share()">
    Share
  </button>

		<br> <br>

		<app-product-alerts [product]="prod"
                        (notify)="onNotify()">
		</app-product-alerts>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->